<!-- <body background="https://3.bp.blogspot.com/-_spvl4kXi_0/V5br-pUa9OI/AAAAAAAAFag/GzK_RVtbeVU5zHVL-_Zz16ZE4FDEn8sVgCLcB/s1600/nytt_bild.jpg"> -->
<body background="https://2.bp.blogspot.com/-ECyrwxgG-es/V6GJFCUOxUI/AAAAAAAAFcI/32dvH1nxuWgyC-HCyDIRC-xuPCvfsVLHgCLcB/s1600/photo-1464013778555-8e723c2f01f8.jpg">
<div class="container">
  <div class="jumbotron">

    <h1 class="text-center">Training Tracker</h1>
    <br>
    <p class="text-center"><stong>Track your stats - Track your friends - Improve</strong></p>
  </div>
</div>
<br>

<div class="container">
  <div class="container col-md-4">
  </div>
  <div class="container col-md-4 text-center">
    <div class="panel panel-default">
      <div id="login" class="panel-body">
        <%= render partial: "shared/login" %>
      </div>
    </div>
  </div>
  <div class="container col-md-4">
  </div>
</div>
