---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/660611892
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3dc61d2c7f1e1f7c171f2f18da0f2364ef052bfa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"86e91068c7424b6950c202da35932bd2"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '2,75'
    body:
      encoding: ASCII-8BIT
      string: '{"id":660611892,"resource_state":3,"external_id":"activity_1272738117.gpx","upload_id":728608546,"athlete":{"id":175260,"resource_state":1},"name":"Golden
        Mountain Biking","distance":22941.4,"moving_time":5844,"elapsed_time":8108,"total_elevation_gain":887.7,"type":"Ride","start_date":"2016-07-24T17:58:35Z","start_date_local":"2016-07-24T11:58:35Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.81,-105.25],"end_latlng":[39.8,-105.25],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.81,"start_longitude":-105.25,"achievement_count":1,"kudos_count":0,"comment_count":0,"athlete_count":2,"photo_count":0,"map":{"id":"a660611892","polyline":"w|}qFzdlaSFV^`@^p@R?zVlgAs@EOEcAw@a@o@UW[QO@AD@XHTNVJh@@\\FL@XFH?FC@GIe@s@CAADFLARDXRh@PTABk@Qe@C]BQCa@Pi@b@a@JIAMOe@MaAEIBgAb@IHKd@S`@GZEHE@KE[Bs@EUJIH]LSLUZGNORYJWPGPEp@Od@MfAGF_@JULMLCLA\\@VFf@Rt@HRCTQd@k@`AKdBOXWv@@l@Gn@@LAPKReAVo@Bs@CGBYj@AhABl@w@Zg@@g@h@Uz@Of@Cz@L|@@x@KVIp@QPE?m@Iw@QM?k@ZUTYb@IVM|@[p@i@x@E?I[EISM@MAUMo@i@}@O_@m@k@OWWKo@I_@SGAIHGPULi@i@[E[SGDICIGMWC[Bm@AMWi@UUQDKb@[Hy@AGBMPOBECUUAg@m@aAOOmAs@Q@UVMV[nAM\\c@x@]@c@\\g@VSTg@TO@KDO@CGJ}@JOHYLWTiA?UEOQMUGW?q@Hi@NYN[^[f@M`@u@z@Yn[...]
