---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athletes/175260/stats.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 3dc61d2c7f1e1f7c171f2f18da0f2364ef052bfa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"c7785c538cb62cba37555b1af09cb85d"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '2,73'
    body:
      encoding: ASCII-8BIT
      string: '{"biggest_ride_distance":205430.0,"biggest_climb_elevation_gain":1330.9,"recent_ride_totals":{"count":6,"distance":111559.20166015625,"moving_time":17505,"elapsed_time":21589,"elevation_gain":1573.4475059509277,"achievement_count":9},"recent_run_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"recent_swim_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"ytd_ride_totals":{"count":6,"distance":111560,"moving_time":17505,"elapsed_time":21589,"elevation_gain":1574},"ytd_run_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"ytd_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_ride_totals":{"count":460,"distance":18235767,"moving_time":2773338,"elapsed_time":4132006,"elevation_gain":262793},"all_run_totals":{"count":3,"distance":15562,"moving_time":6053,"elapsed_time":7628,"elevation_gain":367},"all_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0}}'
  recorded_at: Wed, 03 Aug 2016 19:57:57 GMT
recorded_with: VCR 3.0.3
