<%= render partial: "shared/navbar" %>
<div class="container">
  <div class="jumbotron">
    <h2>Definitions and Explainations</h2>
  </div>
</div>

<div class="container">
  <div class="panel panel-default col-md-6">
    <h3>FTP</h3>
    <br>
    <h5>Functional Threshold Power (FTP) represents your ability to sustain the highest possible power output over 45 to 60 minutes, depending on whether you're a trained athlete or not. As a result 95% of the 20 minute average power is used to determine FTP.</h5>
    <h5>More info on FTP <%= link_to "click here", "http://home.trainingpeaks.com/blog/article/what-is-threshold-power" %></h5>
  </div>
</div>
