<%= render partial: "shared/navbar" %>
<body background="https://3.bp.blogspot.com/-4qnipYSs66k/V6Mh7PqSS2I/AAAAAAAAFdg/z_6cUQ09ym0croU2tXRnHWka5JR2Orf6ACLcB/s1600/photo-1468779036391-52341f60b55d.jpg">
<div class="container">
  <div class="jumbotron">
    <h2>Definitions and Explainations</h2>
  </div>
</div>

<div class="container">
  <div class="panel panel-default col-md-6">
    <h3>FTP</h3>
    <br>
    <h5>Functional Threshold Power (FTP) represents your ability to sustain the highest possible power output over 45 to 60 minutes, depending on whether you're a trained athlete or not. As a result 95% of the 20 minute average power is used to determine FTP.</h5>
    <h5>More info on FTP <%= link_to "click here", "http://home.trainingpeaks.com/blog/article/what-is-threshold-power" %></h5>
  </div>
</div>
<br>
<div class="container">
  <div class="panel panel-default col-md-6">
    <h3>Watts Per Kilo</h3>
    <br>
    <h5>Raw watts aren’t the most reliable metric of performance, because riders put out varying levels. A big rider or sprinters in the Tour de France can generally produce higher watts on flat or rolling terrain than a climber of riders of smaller stature. But since a sprinter is larger he must produce bigger numbers to keep the same speed. A better measure, especially on climbs, is watts produced per kilogram of body weight (that normalizes the size difference). This is commonly used when talking about threshold power, but it factors for the other tests as well. How much better are Tour riders than the rest of us? A contender for the overall classification at the Tour de France can produce just above 6 w/Kg on major climbs of the race. For comparison most untrained riders would struggle to produce 2.5w/Kg. That’s right, a Tour pro can produce about 50 percent more watts than a competitive amateur racer and more than twice what an untrained person could.</h5>
    <table class="table table-striped table-hover">
      <tr>
        <th>FTP Watts/Kilo</th>
        <th>Reference</th>
      </tr>
      <tr>
        <td>2-3</td>
        <td>Good Weekend Rider/Cat3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Cat1</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Pro/Elite</td>
      </tr>
      <tr>
        <td>5.8 + </td>
        <td>Tour Rider/World Champ</td>
      </tr>
    </table>
  </div>
</div>
<br>
<div class="container">
  <div class="panel panel-default col-md-6">
    <h3>Heart Rate</h3>
    <h5>Just because power is more exact a measurement of training doesn’t mean you give up on heart rate (HR). It still matters because this is your body’s response to the work. And it’s an important barometer of how you feel. Let’s say you go ride and on a climb you feel awful; your heart rate spikes but your power just isn’t there. You might be overtrained, or getting sick. An unusually high HR signals that something’s not right; you won’t get much out of training today so you should head home and let your body rest.</h5>
  </div>
</div>
<br>
