<!DOCTYPE html>
<html>
  <head>
    <title>TrainingTracker</title>
    <!-- <body background="http://ep1.pinkbike.org/p5pb13546807/p5pb13546807.jpg"> -->
    <body background="https://3.bp.blogspot.com/-_spvl4kXi_0/V5br-pUa9OI/AAAAAAAAFag/GzK_RVtbeVU5zHVL-_Zz16ZE4FDEn8sVgCLcB/s1600/nytt_bild.jpg">
    <!-- <body background="/app/assets/images/Possible.png"> -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</html>
